<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hotel Everdeen - About</title>
	<link href="css/main_theme.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
        <div id="content-container">
                <div id="top">
					<div id="hotel_name"></div>
                  	<div id="nav-container">
                    	<ul>
                            <li><a href="index.erb">Home</a></li>
                            <li><a href="about.erb">About</a></li>
                            <li><a href="rooms.erb">Rooms</a></li>
                            <li><a href="reservations.erb">Reservations</a></li>
                        </ul>
                  </div>
                </div>
                
                <div id="content">
                	<div id="about-content">
                    <br>
                	<h1><center>About</center></h1>
                    	
                        <p>
Hotel Everdeen has been successful for a couple of years already. It was built in 2014. The prestigious hotel is located in London. The hotel has an amazing view of the city and this has been the reason as to why many tourists love the hotel. Aside from that, the hotel has been known for its numerous facilities that cater to the various needs of its customers.</p>
                    
                    <p>
                    Currently, Hotel Everdeen has been proving itself as one of the best hotels in the world and has been continually recognized for being able to do so.
                    </p>
                    
                    <p>
                    With that, Hotel Everdeen guarantees all of its customers for the ultimate satisfaction. And, no matter what happens, Hotel Everdeen will always be a home for anyone.
                    </p>
                    </div>
                    
                    <div>
                    	<center><br><img src="images/amenities/skyline.jpg" class="pic-about" /><br><br>
                        <img src="images/amenities/lobby.jpg" class="pic-about" />
                        </center>
                    </div>
                </div>
  		</div>
        
        
</body>
</html>
