<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hotel Everdeen - Rooms</title>
	<link href="css/main_theme.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
		<div id="content-container">
                <div id="top">
					<div id="hotel_name"></div>
                  <div id="nav-container">
                    <ul>
                        <li><a href="index.erb">Home</a></li>
                        <li><a href="about.erb">About</a></li>
                        <li><a href="rooms.erb">Rooms</a></li>
                        <li><a href="reservations.erb">Reservations</a></li>
                    </ul>
                  </div>
                </div>
  		</div>
        
        <div id="content">
                	<div id="content-rooms">
                    <br>
                	<h1><center>Rooms in Hotel Everdeen</center></h1>
                    	
                        <ul>
                        	<li>Single-Bed Room</li> <img src="images/rooms/single.jpg" class="pic-amenities"> <span class="room-desc"> This room is best for people who would like to have one bed. The room is spacious enough for two people.</span>
                            <li>&nbsp;</li>
                            <li>Double-Bed Room</li> <img src="images/rooms/double.jpg" class="pic-amenities"> <span class="room-desc"> This room is suitable for people who would like to have two beds. The room is good for four people.</span>
                            <li>Luxury Room</li> <img src="images/rooms/luxury.jpg" class="pic-amenities"> <span class="room-desc"> This room is best for an individual up to a group of people. The luxury room contains all the prestigious facilities that a hotel room can have.</span>                             
                        </ul>
                        	
                    </div>
                </div>
  		</div>
        
</body>
</html>
