body{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
background-image:url(../images/bg.jpg);	
}

h1, h2{
text-decoration:underline;
letter-spacing:2px;	
}

#content-container{
margin-top:2%;
margin-bottom:3%;
}

#container{
width:960px;
background:#eee;
margin-left:auto;
margin-right:auto;	
height:auto;
box-shadow: 0px 0px 10px #888888;
}

#content{
width:960px;
margin-left:auto;
margin-right:auto;
padding-bottom:2%;
box-shadow: 0px 0px 10px #888888;	
}

#about-content{
width:56%;
height:auto;
float:left;
background:transparent;
padding-left:2%;
padding-right:2%;	
}

.pic-about{
width:350px;	
}

.pic-amenities{
width:375px;
padding: 20px;
padding-left:50px;	
}

#content-form{
padding:3%;
background-color:#ddd;
width:40%;
margin-left:auto;
margin-right:auto;
background-image:url(../images/container.jpg);
box-shadow: 0px 0px 10px #000000;	
}

#container-reserve{
width:960px;
background:url(../images/room-reserve.jpg);
background-size:cover;
margin-left:auto;
margin-right:auto;	
height:auto;
padding-top:10%;
padding-bottom:10%;
box-shadow: 0px 0px 10px #888888;
}

input, select{
font-family:times "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 14px;
}

#submit-btn, #link{
background:#A68F12;
border:none;
padding:10px;
width:100px;
font-size:16px;
color:#ffffff;
}

#submit-btn:hover, #link:hover{
background:#ecce28;
}

#content{
background:url(../images/container.jpg);	
}

#content-rooms{
margin-top:-4%;	
}

#content-rooms ul {
list-style-type:none;
padding:10px;	
font-size: 16px;	
}

#content-rooms ul li{
list-style-type:none;
margin:0;
padding-left:15%;	
font-weight:bold;	
}

.room-desc{
float:right;
width:40%;	
margin-right:10%;
margin-top:5%;
border-bottom:double 7px #222;
border-top:double 7px #222;
padding: 10px;
background:#f2f2f2;
}

#welcome-text{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-weight: bold;
font-size:56px;
width:70%;
letter-spacing:-4px;
color: #FFFFFF;
margin-top:-250px;
margin-left:27%;
text-shadow: 2px 2px 3px #000;	
}

#welcome-subtext{
font-weight: bold;
font-size:20px;
width:70%;
letter-spacing:0px;
color: #FFFFFF;
z-index:20;
margin-left:33%;
text-shadow: 2px 2px 3px #000;		
}

p{
text-indent:50pt;
text-align:justify;
}

.banner{
background-image:url(images/banner.jpg);
width:960px;
margin-left:auto;
margin-right:auto;
background-size:cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat:no-repeat;
z-index:1;
}

#top{
background:transparent;
width:960px;
margin-left:auto;
margin-right:auto;
}

#nav-container{
background:#A68F12;
width:960px;
margin-left:auto;
margin-right:auto;
box-shadow: 0px 0px 10px #888888;
}

#nav-container ul{
list-style-type:none;
margin:0;
padding:10px;
}

#nav-container ul li{
display:inline;
}

#nav-container ul a{
text-decoration:none;
background: transparent;
padding: 10px;
color: #FFFFFF;
font-weight:bold;
}

#nav-container ul a:hover{
background:#ecce28;	
}

#nav-container ul a:active{
text-decoration:underline;
}

#bottom{
height:auto;
background:transparent;
}

#hotel_name{
font-family: Arial, Helvetica, sans-serif;
background:url(../images/hotel-everdeen%20logo.png);
background-repeat:no-repeat;
background-size:cover;
width:960px;
height:240px;
text-transform: uppercase;
letter-spacing: -9px;
font-size: 72px;
color:#FFFFFF;
}

#space{
height:170px;	
background:none;
}

/*Style for After Room Reservation*/
#container-after-reserve{
background:url(../images/container.jpg);
width:960px;
padding-top:3%;
padding-bottom:3%;
margin-left:auto;
margin-right:auto;
}

#reservation-details{
padding:3%;
background-color:#ddd;
width:55%;
margin-left:auto;
margin-right:auto;
box-shadow: 0px 0px 10px #000000;
background-image:url(../images/container.jpg);
}

.lbl{
font-weight: bold;
}